body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 25px auto;
  text-align: center;
}

.btn {
  padding: 13px 20px;
  margin: 0px 10px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #28a745;
}

.btn-secondary:hover {
  background-color: #218838;
}

.btn-danger {
  background-color: transparent;
  color: red;
  border: 2px solid red;
}

.btn-danger:hover {
  background-color: red;
  color: white;
}

.quote {
  font-size: 1.2em;
}

.quote-text {
  font-style: italic;
  max-height: 2.3em;
  margin-block-end: 0.9em;
}

.quote-author {
  margin-block-start: 0.9em;
  font-weight: bold;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  color: darkslategray;
  border: 1px solid #555;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  width: 25%;
}

.favorite-card-content {
  flex: 1;
  padding: 0px 3px;
}

.favorite-card-author {
  font-style: italic;
}

.star-icon {
  font-size: 30px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  color: gold;
}
